/*@font-face {*/
/*    font-family: "Exo2-Medium";*/
/*    src: url("../fonts/Exo2-Medium.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: "Exo2-MediumItalic";*/
/*    src: url("../fonts/Exo2-MediumItalic.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: "Exo2-Bold";*/
/*    src: url("../fonts/Exo2-Bold.ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: "Exo2-BoldItalic";*/
/*    src: url("../fonts/Exo2-BoldItalic.ttf");*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

#header{
    display: none;
}

header {
    overflow: auto;
    background-color: black;
}

.logo {
    width: 200px;
    float: left;
    height: 80px;
}

.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}

.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}

.top-menu a:hover{
    background: rgb(53, 53, 53);
}

.top-menu {
    height: 80px;
    float: left;
}

.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}

.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}

.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.container-info{
    display: block;
    color: white;
    padding-top: 15px;
    background-color: black;

}

.btn-search{
    margin-top: 15px;
}

#search{
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    color: black;
    background: whitesmoke;
}